<div class="top_art">
  <div class="top_art__first">

    <div class="top_art__second">
      <% if art.image.attached? %>
      <div class="top_art__name">
        <%= link_to "by #{art.user.nickname}" , user_path(art.user), class: :top__user %>
      </div>
      <div class="top_art__img">
        <%= link_to art_path(art.id) do %>
          <%= image_tag(art.image, class: :top__img) %>
        <% end %>
      </div>
      <% end %>
    </div>

  </div>
</div>