<main class="main">
  <div class="inner">

    <div class="top_page">
      <div class="top_image">
        <%= image_tag "stitch.jpeg", class: :top_image_i %>
        <%= image_tag "hiyoko.jpeg", class: :top_image_i %>
        <%= image_tag "sweets.jpeg", class: :top_image_i %>


      </div>

      <div class="top_first">
        <h1>faMade とは...</h1>
        <h2>family × made</h2>
        <div class="top_first_about">
        家族でそれぞれが作った作品を共有するために生まれました。<br>
        たくさん作品を投稿していきましょう！
        </div>
      </div>

      <div class="top_second">
        <h1>作品 一覧</h1>
      </div>

    </div>
  </div>
</main>
