<main class="main">
  <div class="inner">

    <div class="new_first">
      <div class="new_second">
        <h1>作品投稿</h1>

        <div class="new_third">
          <%= render partial: "form" %>
        </div>
      </div>
    </div>

  </div>
</div>

