/* トップ作品 */
.top_second{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
padding: 0 50px;
}

.top_art__first{
  padding: 30px;

}
.top__img{
  width: 600px;
}

.top__user{
  font-size: 30px;
}

/* 詳細 */
.detail_first{
  margin:0 300px;
  text-align: center;
  padding-bottom: 100px;
}

.detail_third{
  display: flex;
  justify-content: center;
  padding: 30px 0;
  margin: 0 130px;
}

.detail_list{
  display: flex;
  justify-content: center;
}

li {
  padding: 20px 15px 0;
  font-size: 23px;
}

li:hover{
  border-bottom: 2px solid #d05b12;
}

.detail_content{
  font-size: 25px;
}
.detail_image{
  width: 700px;
}

.detail_name{
  font-size: 25px;
}

.detail_name:hover{
  border-bottom: 2px solid #d05b12;
}

/* ユーザーページ */
.user_first{
  margin: 0 70px;
  text-align: center;
  padding-bottom: 50px;
}

.user_second{
  display: flex;
  flex-wrap: wrap;
}

.edit_first{
  text-align: center;
}