/* コメント */
.detail_comment{
  padding-top: 80px;
}

.detail_comments{
  text-align: center;
  padding-top: 50px;
}

.comment_list{
  padding-top: 20px;
  font-size: 25px;
}

.comments__name {
  color: #bc4c06;
  font-size: 21px;
}

/* お気に入り */
.favorite{
  width: 70px;
  background-color: #fff;
  border: none;
  margin-top: 20px;
}