/* 新規投稿 */
.new_first{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.new_second{
  text-align: center;
  padding: 50px 0;
  font-size: 17px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  width: 650px;
  height: 700px;
}

.new_third{
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* フォーム */
.form{
  text-align: center;
}

.form_content{
  font-size: 25px;
  padding: 15px 0;
}

.form_area{
  font-size: 23px;
  font-family: "M PLUS Rounded 1c";
  width: 500px;
  margin: 5px ;
}

.form__btn{
  font-size: 24px;
  color: #d05b12;
  background: #fff;
  border: 2px #d05b12 solid;
  border-radius: 3px;
}

.form__btn:hover{
  color: #fff;
  background: #d05b12;
  border: 3px #d05b12 solid;
  border-radius: 3px;
}